<html>
    <head>
        <title>

        </title>
        <link rel="stylesheet" href="alice.css">
        <script>

        </script>
    </head>
    <body>
        <div class="title"><h1> You're Alice! </h1></div>
        <div class="horizontal bit-string"> 
            <h2 id="send-bits"> Bits to send </h2>
            <input type="number">
            <button>Random</button>
        </div>
        <div class="horizontal select-basis">
            <h2>Basis sequence</h2>
            <input type="text" id="select-basis">
            <button>Random</button>
        </div>
        <!-- Starts invisible -->
        <div class="horizontal sent-qubits">
            <h2>Sent qubits</h2>
            <p id="sent-bits">____</p>
        </div>
        <div class="key-bits">
            <p id="key-bits"></p>
        </div>
    </body>
</html>