<html>
    <head>
        <title>

        </title>
        <link rel="stylesheet" href="entry.css">
        
        <script>

        </script>
    </head>
    <body>
        <div id="fullpage">
            <div class="usercode">
                <h1> Your Code </h1>
                <p id="usercode"> </p>
            </div>
            <div class="friendcode">
                <h1> Insert friend code </h1>
                <input type="number" id="friendcode">
            </div>

        </div>
    </body>
</html>