<html>
    <head>
        <title>

        </title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">        
		<link rel="stylesheet" href="entry.css">
        
        <script>

        </script>
    </head>
    <body>
	<form>
        	<div id="fullpage" class="mb-3 px-4 py-4 gy-6">
            	<div class="usercode">
                	<h1> Your Code </h1>
                	<p id="usercode"> </p>
            	</div>
            	<div class="friendcode">
               		<h1> Insert friend code </h1>
                	<input type="number" id="friendcode">
            	</div>

        	</div>
	</form>
    </body>
</html>
